@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Baloo:400,700,300);
body {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background:#B6646F!important;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Baloo', cursive;
    border-right: 15px solid#ff90a0;
    border-left: 15px solid #ff90a0;
    border-bottom: 15px solid #ff90a0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box ; 
    box-sizing: border-box ; 
    color: black !important;
    /* background-image: url(/img/honeycomb-svgrepo-com.svg) !important;  */
    background-image: url(/img/Honeycomb.svg) !important; 
  
}

html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
   overflow: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent; /* or add it to the track */
} 
  

.tabs::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent; /* or add it to the track */
} 
.tab-content::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: transparent; /* or add it to the track */
} 

body::-webkit-scrollbar-thumb {
    background: #000;
}
.tabs::-webkit-scrollbar-thumb {
    background: #000;
}
.tab-content::-webkit-scrollbar-thumb {
    background: #000;
}

/*******************************************************************************************************************************************/
/*Navigation
/*******************************************************************************************************************************************/

.main_nav {
    overflow: hidden;
    position: absolute;
    top: 0px;
    height: 50px;
    z-index: 50;
    width: 100% !important;
    background: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-text-fill-color: #C6878F;
    font-family: 'Baloo', cursive;
    font-weight: bold;
    
}

.smoothscroll {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    -webkit-text-fill-color: snow;
}
.smoothscroll ul a:hover{
    text-decoration: none !important
}

@media only screen and (max-width: 320px) {

    .main_nav {
        position: fixed;
        top: 0px;
        height: 80px;
        z-index: 9999;
        width: 100%;
        background: black;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-text-fill-color: #C6878F;
        font-family: 'Baloo', cursive;
        font-weight: bold;
    }

}


@media only screen and (max-width: 457px) {
    .main_nav{
        height: 80px;
    }
    .nav_class{
        margin-top: 6%;
    }
}
@media only screen and (max-width: 766px) {
  
}


/*******************************************************************************************************************************************/

/*******************************************************************************************************************************************/



/*******************************************************************************************************************************************/
                     /**title
/*******************************************************************************************************************************************/



.column {
    width: 30%;
    text-align: center;
    padding: 30px;
}
/*******************************************************************************************************************************************/
/**title
/*******************************************************************************************************************************************/

/*******************************************************************************************************************************************/
/**title
/*******************************************************************************************************************************************/

.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media screen and (max-width: 500px) {
.column-custom {
      width: 100% !important;
      margin-top: 0% !important;
      padding: 11px !important;
    }
.sm-resume-row{
    margin-bottom: 15%!important;
}

  }

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}
.row{
    padding: 0%;
    padding-top: 0%;
    /* margin-top: 10%; */
    height: 100%;
    display: unset !important;
    margin: auto !important;

    /* display: ; */
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: -webkit-fill-available;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 1%;
    
}
/*******************************************************************************************************************************************/
/*mainblock
/*******************************************************************************************************************************************/
.neumorphismblock{
    align-self: center;
    width: 80vw;
    height: -webkit-fill-available;
    max-height: 80%;
    margin-top: 7%;
    background: black;
    box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
}
@media only screen and (max-width: 640px){
    .neumorphismblock{
        align-self: center;
        width: 80vw;
        height: -webkit-fill-available;
        max-height: 80%;
        margin-top: 10%;
        background: linear-gradient(145deg, #a45a64, #c36b77);
        box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
    }
}
@media only screen and (max-width: 510px) {

    .neumorphismblock{
        height: -webkit-fill-available;
        margin-top: 18%;
        align-self: center;
        background: linear-gradient(145deg, #a45a64, #c36b77);
        box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
    }  
}

@media only screen and (max-width: 666px) {
    .smoothscroll{
        top: -5px;
        position: relative;
        left: 47px;
    }

}






/*******************************************************************************************************************************************/
/**transition
/*******************************************************************************************************************************************/

/* fade and slide transition active states (same for leave and enter) */
.fade-leave-active,
.fade-enter-active,
.slide-leave-active,
.slide-enter-active {
    transition: opacity 450ms ease, transform 650ms ease-in-out;
}

/* fade transition states */
.fade-leave,
.fade-enter-to {
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* slide transition states */
.slide-leave,
.slide-enter-to {
    transform: translateX(0);
}

.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
}

.nav-pills .nav-link.active2, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #f7b538!important;
}

#sm-tab-menu{
    text-align: center;
    margin-top: 100%;
    display: none;
}
.socialmedia-img{
    filter: invert(74%) sepia(32%) saturate(951%) hue-rotate(349deg) brightness(99%) contrast(95%);
    width: 29%;
}