@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Baloo:400,700,300);
body {
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background:linear-gradient(180deg,#B6646F 5%,#C6878F 20%,#C6878F 60%,#B6646F 95%)!important;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Baloo', cursive;
    border-right: 15px solid black;
    border-left: 15px solid black;
    border-bottom: 15px solid black;
    -webkit-box-sizing: border-box;/* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box ;/* Firefox, other Gecko */
    box-sizing: border-box ;/* Opera/IE 8+ */
}

html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
   overflow: hidden;
}

/*******************************************************************************************************************************************/
/*Navigation
/*******************************************************************************************************************************************/

.main_nav {
    overflow: hidden;
    position: absolute;
    top: 0px;
    height: 50px;
    z-index: 50;
    width: 100% !important;
    background: black;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-text-fill-color: #C6878F;
    font-family: 'Baloo', cursive;
    font-weight: bold;
    
}

.smoothscroll {
    text-transform: uppercase;
    font-size: 12px;
    text-decoration: none;
    -webkit-text-fill-color: snow;
}
.smoothscroll ul a:hover{
    text-decoration: none !important
}

@media only screen and (max-width: 320px) {

    .main_nav {
        position: fixed;
        top: 0px;
        height: 80px;
        z-index: 9999;
        width: 100%;
        background: black;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-text-fill-color: #C6878F;
        font-family: 'Baloo', cursive;
        font-weight: bold;
    }

}


@media only screen and (max-width: 457px) {
    .main_nav{
        height: 80px;
    }
    .nav_class{
        margin-top: 6%;
    }
}
@media only screen and (max-width: 766px) {
  
}


/*******************************************************************************************************************************************/

/*******************************************************************************************************************************************/



/*******************************************************************************************************************************************/
                     /**title
/*******************************************************************************************************************************************/



.column {
    width: 30%;
    text-align: center;
    padding: 30px;
}
/*******************************************************************************************************************************************/
/**title
/*******************************************************************************************************************************************/

/*******************************************************************************************************************************************/
/**title
/*******************************************************************************************************************************************/

.container:after, .row:after, .u-cf {
    content: "";
    display: table;
    clear: both;
}
.row{
    padding: 19px!important;
    padding-top: 23px;
    margin-top: 10%;
}
/*******************************************************************************************************************************************/
/*mainblock
/*******************************************************************************************************************************************/
.neumorphismblock{
    align-self: center;
    width: 80vw;
    height: -webkit-fill-available;
    max-height: 80%;
    margin-top: 7%;
    background: linear-gradient(145deg, #a45a64, #c36b77);
    box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
}
@media only screen and (max-width: 640px){
    .neumorphismblock{
        align-self: center;
        width: 80vw;
        height: -webkit-fill-available;
        max-height: 80%;
        margin-top: 10%;
        background: linear-gradient(145deg, #a45a64, #c36b77);
        box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
    }
}
@media only screen and (max-width: 510px) {

    .neumorphismblock{
        height: -webkit-fill-available;
        margin-top: 18%;
        align-self: center;
        background: linear-gradient(145deg, #a45a64, #c36b77);
        box-shadow:  41px 41px 82px #5b3238, -41px -41px 82px #ff96a7;
    }  
}

@media only screen and (max-width: 666px) {
    .smoothscroll{
        top: -5px;
        position: relative;
        left: 47px;
    }

}






/*******************************************************************************************************************************************/
/**transition
/*******************************************************************************************************************************************/

/* fade and slide transition active states (same for leave and enter) */
.fade-leave-active,
.fade-enter-active,
.slide-leave-active,
.slide-enter-active {
    transition: opacity 450ms ease, transform 650ms ease-in-out;
}

/* fade transition states */
.fade-leave,
.fade-enter-to {
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* slide transition states */
.slide-leave,
.slide-enter-to {
    transform: translateX(0);
}

.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
}